@tailwind base;
@tailwind components;
@tailwind utilities;

.tital{
    border: 2px solid rgb(73, 73, 73);
    width: 30%;
    border-radius: 4px;
    margin: 30px;
    padding: 4px;
}
.btn{
    border: 1px solid black;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    padding: 4px 6px;
    margin-left: 50px;
}
.delete{
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 4px;
    padding: 4px 6px;
font-weight: bold;
}